<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>[TheSinh_Homeware]</display-name>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>Controller.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PayServlet</servlet-name>
    <servlet-class>Controller.PayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayServlet</servlet-name>
    <url-pattern>/PayServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>authtoken</param-name>
    <param-value>mxEd3Nz5f33y3p4klKadK7dViaATjB7jUnFUd-oFfoUf0PBkyvcVD0NB7g0</param-value>
  </context-param>
  <context-param>
    <param-name>posturl</param-name>
    <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
  </context-param>
  <context-param>
    <param-name>business</param-name>
    <param-value>nguyenlethesinh20197@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>returnurl</param-name>
    <param-value>http://localhost:8080/TheSinh_Homeware/PaypalServlet</param-value>
  </context-param>
</web-app>